<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="AltoControls" version="1.0.1" targetFramework="net48" />
  <package id="Aspose.BarCode" version="24.8.0" targetFramework="net48" />
  <package id="BarcodeLib" version="3.1.4" targetFramework="net48" />
  <package id="Barcoder" version="3.0.0" targetFramework="net48" />
  <package id="Barcoder.Renderer.Svg" version="3.0.0" targetFramework="net48" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net48" />
  <package id="CryptoQrUtilities" version="1.0.0" targetFramework="net48" />
  <package id="CrystalReports.Engine" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Shared" version="13.0.4003" targetFramework="net48" />
  <package id="DevExpress.Data" version="24.1.6-pre-24238" targetFramework="net48" />
  <package id="DeviceId" version="6.7.0" targetFramework="net48" />
  <package id="Emgu.CV" version="4.9.0.5494" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net48" />
  <package id="IronSoftware.Common" version="2024.9.27" targetFramework="net48" />
  <package id="IronSoftware.System.Drawing" version="2024.9.10" targetFramework="net48" />
  <package id="log4net" version="3.0.0-preview.2" targetFramework="net48" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="NetBarcode" version="2.0.0-beta.1" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="3.1.5" targetFramework="net48" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.8" targetFramework="net48" />
  <package id="SvgLib" version="1.0.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.6.0-preview3.19128.7" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.0-preview.7.24405.4" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TypeLite" version="1.8.4" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net48" />
</packages>